.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.body {
    display: flex;
    gap: 32px;
}

@media (width <= 1279px) {
    .title {
        text-align: center;
    }

    .body {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.entriesAndButton {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.image {
    object-fit: cover;
    height: 500px;
    border-radius: 16px;
}

.entries {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@media (width <= 1279px) {
    .entries {
        justify-content: center;
    }

    .image {
        width: auto;
    }
}

.entry {
    max-width: 320px;
}
