.section {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.sectionContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image {
    width: 100%;
    object-fit: fill;
    height: auto;
    border-radius: 16px;
}

.title {
    margin: 0;
    padding: 0;
}
