.additionalInformationContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    align-items: 'flex-start';
}

@media (width <= 768px) {
    .hiddenOnMobile {
        display: none;
        visibility: hidden;
        float: none;
        position: fixed;
    }
}

.image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    border-radius: 16px;
    align-items: flex-start;
    box-sizing: border-box;
    max-height: 660px;
}
