.countriesContainer {
    margin: 50px auto;
    width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
