.container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    padding-top: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
}
